
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;


  body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;


    header {
      font-size: 2rem;
      background-image: linear-gradient(to right top, #4775af, #123448, #103d42, #07251a, #a8eb12);
      color: white;
      min-height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    form {
      min-height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .todo_list_container {
      width: 100vw;
      height: 79.5vh;
    }

    form {
      input {
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        background: white;
      }

      button {
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        background: white;
        color: #07460f;
        background: #f7fffe;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: #58d015;
          color: white;
        }
      }
    }

    .todo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .todo-list {
      min-width: 30%;
      list-style: none;
    }

    .todo {
      margin: 0.5rem;
      background: white;
      font-size: 1.5rem;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 1s ease;
    }

    .filter-todo {
      padding: 1rem;
    }

    .todo li {
      flex: 1;
    }

    .trash-btn {
      background: #ff6f47;
      color: white;
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;
    }

    .complete-btn {
      background: #ff6f47;
      color: white;
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;
      background: rgb(11, 212, 162);
    }

    .todo-item {
      padding: 0rem 0.5rem;
    }

    .fa-trash, .fa-check {
      pointer-events: none;
    }

    .fall {
      transform: translateY(10rem) rotate(20deg);
      opacity: 0;
    }

    .completed {
      text-decoration: line-through;
      opacity: 0.5;
    }

    /*CUSTOM SELECTOR */

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      color: #ff6f47;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 12rem;
    }

    /* Custom Select */

    .select {
      margin: 1rem;
      position: relative;
      overflow: hidden;
      /* Arrow */
      &::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        background: #ff6f47;
        cursor: pointer;
        pointer-events: none;
      }
    }
  }
}